{% extends 'quiz/base.html' %}

{% load static %}

{% block quizTitle %}
Old Town Road
{% endblock quizTitle %}

{% block content %}

{% block quizCss %}
<link rel="stylesheet" href="{% static 'question/css/takequestion.css' %}">
{% endblock quizCss %}

{% include 'messages.html' %}
<a href="{% url 'quiz:quizzes' %}">Go Back</a>
<div class="container">
    <div class="top">
        <div class="title">Old Town Road</div>
        <div class="categories">
            {% for category in question.categories.all %}
                <span class="category">{{category.title}}</span>
            {% endfor %}
        </div>
    </div>
    
    <div class="inline">
    
        <div class="attempt">
            {% if question.attempts < 2 %}
                {{question.attempts}} attempt
            {% else %}
                {{question.attempts}} attempts
            {% endif %}
        </div>
        <div class="average">
            {{question.avgScore}}%
        </div>
        <div id="seconds" class="duration">
            {{question.duration}}
        </div>
        <div class="secondsName">
            seconds            
        </div>
    
    </div>
    
    
    <div id="countdownbox"></div>
    <div class="question-card-container">
        <div style='color:#f11919'>ToTheX</div>
        <a style="color: #751515;" href="{% url 'profile:profile' question.user.username %}">@{{question.user.username}}</a>
        <form class="question-form-box" action="{% url 'question:submit-question' %}" method="post"  id="questionForm">
            {% csrf_token %}
                {% if question.form == 'fourChoicesQuestion' %}
                <div>
                    <div class="questionBx">
                        {{question.question_text}}

                    </div>
                  
                    <div class="answer">
                        <input class="option{{question.index}}"  onclick="validateAnswer(this.className, this.id)" type="checkbox" name="answer" id="id_{{question.index}}_answer1" value="{{question.form}}-{{question.id}}-answer1">
                        <label for="id_answer1">{{question.answer1}}</label>
                    </div>
                    
                    <div class="answer">
                        <input class="option{{question.index}}" onclick="validateAnswer(this.className, this.id)" type="checkbox" name="answer" id="id_{{question.index}}_answer2" value="{{question.form}}-{{question.id}}-answer2">
                        <label for="id_answer2">{{question.answer2}}</label>
                    </div>

                    <div class="answer">
                        <input class="option{{question.index}}" onclick="validateAnswer(this.className, this.id)" type="checkbox" name="answer" id="id_{{question.index}}_answer3" value="{{question.form}}-{{question.id}}-answer3">
                        <label for="id_answer3">{{question.answer3}}</label>
                    </div>

                    <div class="answer">
                        <input class="option{{question.index}}" onclick="validateAnswer(this.className, this.id)" type="checkbox" name="answer" id="id_{{question.index}}_answer4" value="{{question.form}}-{{question.id}}-answer4">
                        <label for="id_answer4">{{question.answer4}}</label>
                    </div>
            {% elif question.form == 'trueOrFalseQuestion' %}
            <div class="questionBx">
                {{question.question_text}}

            </div>
                    <div class="answer">
                        <input class="option{{question.index}}"  onclick="validateAnswer(this.className, this.id)" type="checkbox" name="answer" id="id_{{question.index}}_answer1" value="{{question.form}}-{{question.id}}-answer1">
                        <label for="id_answer1">True</label>
                    </div>
                    
                    <div class="answer">
                        <input class="option{{question.index}}" onclick="validateAnswer(this.className, this.id)" type="checkbox" name="answer" id="id_{{question.index}}_answer2" value="{{question.form}}-{{question.id}}-answer2">
                        <label for="id_answer2">False</label>
                    </div>
                </div>
                        
                {% endif %}
            <input type="submit"  id="submitButton"  value="Submit">
        </form>
    </div>
    <form action="{% url 'question:answer-question' %}" method="get">
        <input id="skipButton" type="submit" value="Skip">
    </form>
    <!-- disable the submit button if the question has not been answered -->
    
    <div  style="display:none;" class='result'>
      
    </div>
    <div>
        <a href=""  class="a">Download</a>
    </div>
    
</div>

<script src="{% static 'question/html2canvas.js' %}"></script>

<script>

    let elm = document.querySelector('.question-card-container');
    elm.prepend("");
    html2canvas(elm).then(function(canvas){
        document.querySelector('.result').append(canvas);
        let cvs = document.querySelector('canvas');
        let a = document.querySelector('.a');
        a.href = cvs.toDataURL();
        a.download = 'tothex-{{question.question_text}}.png'
    })




    function validateAnswer(option, target){
        let answers = document.getElementsByClassName(option);

        for(var i = 0; i < answers.length; i++){
        if (answers[i].checked == 1){
            answers[i].checked = 0;
        };  

        }
        document.getElementById(target).checked = true;
        
    }


    let seconds = document.getElementById('seconds').textContent;

    const countdownbox = document.getElementById('countdownbox');
    const quiz = document.getElementById('questionForm');
    
    setInterval(()=>{
        seconds -= 1;
        let minutesLeft = Math.floor(seconds/60);
        let secondsLeft = seconds%60;

        if (seconds <= 0){
            let skip = document.getElementById('skipButton');
            skip.click();
        }
        countdownbox.innerHTML = `<b>${minutesLeft}min:${secondsLeft}sec left</b>`;
    }, 1000)

</script>

{% endblock content %}
