{% extends 'quiz/base.html' %}
{% load static %}
{% block title %}
    Quiz Result
{% endblock title %}
{% block content %}
<div class="question-card-container">
    <p>
        You scored: {{user_score}} out of {{total_score}}
    </p>
    <h5>Your Answers</h5>
        {% for attempt in attempts %}
    <div class="question-box">

            <p>Question:<br>{{attempt.question.question_text}}</p>
            <div
            {% if attempt.answer.is_correct is True %} 
                class="correct-answer"
            {% else %}
                class="wrong-answer"
            {% endif %}
            >
            <p>Your Answer:<br>{{attempt.answer.answer_text}}</p>
            </div>
            
        {% endfor %}
    </div>
    
</div>
<a href="{% url 'quiz:quiz-pdf' quiz.id %}">Download PDF</a>
<a href="{% url 'quiz:quizzes' %}">Go back home</a>
{% endblock content %}
