{% extends 'quiz/base.html' %}
{% load static %}

{% block content %}
<header>
    <div class="logo">Cold Quiz</div>
    <nav>
        <ul class="nav_links">
            <li>
                <a href="{% url 'logout' %}">Logout</a>
            </li>
            <li>
                <a href="{% url 'diary:diaries' %}">Diary</a>
            </li><li>
                <a href="{% url 'todo:tasks' %}">Todo-list</a>
            </li>

        </ul>
    </nav>
    <a href="{% url 'quiz:new-quiz' %}" class="cpa"><button>Create Quiz</button></a>
</header>
{% endblock content %}
