<h1>New Question</h1>

<form action="" method="post">
    {% csrf_token %}
    {{form.as_p}}
    <!--
        <div>
        {{form.question_text}}
        <label for="question_text">Question ?</label>
    </div>
    <div>
        {{form.points}}
        <label for="points">Points in the question: </label>
    </div>
    -->
    <div>
    <label for="answer_text">Answer 1</label>
    <input type="text" name="answer_text" id="id_answer_text" >
    </div>
    <div>
        <label for="">Is this the correct answer ?</label>
        <select name="is_correct" id="id_is_correct">
            <option value="" disabled selected>Choose yes or no</option>
            <option value="True">Yes</option>
            <option value="False">No</option>
        </select>
    </div>

    <div>
        <label for="answer_text">Answer 2</label>
        <input type="text" name="answer_text" id="id_answer_text" >
    </div>
    <div>
        <label for="">Is this the correct answer ?</label>
        <select name="is_correct" id="id_is_correct">
            <option value="" disabled selected>Choose yes or no</option>
            <option value="True">Yes</option>
            <option value="False">No</option>
        </select>
    </div>


    <div>
        <label for="answer_text">Answer 3</label>
        <input type="text" name="answer_text" id="id_answer_text" >
    </div>
    <div>
        <label for="">Is this the correct answer ?</label>
        <select name="is_correct" id="id_is_correct">
            <option value="" disabled selected>Choose yes or no</option>
            <option value="True">Yes</option>
            <option value="False">No</option>
        </select>
    </div>

    <div>
        <label for="answer_text">Answer 4</label>
        <input type="text" name="answer_text" id="id_answer_text" >
    </div>
    <div>
        <label for="">Is this the correct answer ?</label>
        <select name="is_correct" id="id_is_correct">
            <option value="" disabled selected>Choose yes or no</option>
            <option value="True">Yes</option>
            <option value="False">No</option>
        </select>
    </div>
    <div>
        <span style="color: red; font-weight: bold;">
            {{form.errors}}
        </span>
    </div>
    <input type="submit" value="Create New Question">
</form>

<a href="{% url 'quizzes' %}"><p>Go back home</p></a>
