{% extends 'quiz/base.html' %}
{% load static %}
{% block title %}
   Create Quiz 
{% endblock title %}
{% block content %}
{% include 'messages.html' %}
<link rel="stylesheet" href="{% static 'quiz/css/newquiz.css' %}">
<section>
    <div class="contentBx">
        
            <h2>Create Quiz</h2>
            <form action="" method="post">
                {% csrf_token %}
                
                <div class="inputBx">
                    <div class="field-name">Title</div>
                    <input type="text" name="title" id="id_title">
                </div>
                <div class="inputBx">
                    <div class="field-name">Description</div>
                    <textarea name="description" id="" cols="30" rows="7"></textarea>
                    <!-- <input type="text" name="description" id="id_description"> -->
                </div>
            <div class="linkBx">
                <div class="inputBx">
                    <input  class="link" type="submit" value="Create" autofocus>
                </div>
                <div class="inputBx">
                    <a class="link" href="{% url 'quiz:quizzes' %}">Go back home</a>
                </div>
            </div>
            </form>
    </div>
</section>



{% endblock content %}
