{% extends 'quiz/base.html' %}
{% load static %}
{% block title %}
    Quiz Detail
{% endblock title %}
{% block content %}
{% include 'messages.html' %}

{% include 'quiz/nav.html' %}
<div>
        <div >
            <p>
                <div >{{quiz.title|capfirst}}</div>
                <div >{{quiz.description | safe}}</div> 
                <div >created by {{quiz.user|capfirst}}</div>
                <div >It was created on {{quiz.date|date:"Y-M-d"}} {{quiz.date|time:"H:i"}}</div> 
                <div >
                    {% if quiz.attempts < 2 %}
                        {{quiz.attempts}} attempt
                    {% else %}
                        {{quiz.attempts}} attempts
                    {% endif %}
                </div>
                <div>
                    <span>
                        <a href="{% url 'quiz:quizzes' %}"><p>Go back home</p></a>
                    </span>
                    <span>
                        <a href="{% url 'quiz:take-quiz' quiz.id %}">Take Quiz</a>
                    </span>
                    {% if quiz.user == user %}
                    <span>
                        <a href="{% url 'quiz:quiz-update' quiz.id %}"><p>Edit</p></a>
                    </span>
                    <span>
                        <a href="{% url 'quiz:delete-quiz' quiz.id %}"><p>Delete</p></a>
                    </span>
                    <span>
                        <a href="{% url 'quiz:new-question' quiz.id %}"><p>Add questions</p></a>
                    </span>
                    {% endif %}
                </div>
            </p>
        </div>
</div>
<div class="copy-link-container">
    <div class="label">
        Joining link
    </div>
    <div class="copy-text">
        <input type="text" class="text" value="">
        <span><i class="fa fa-clipboard" aria-hidden="true"></i></span>
    </div>
</div>
<script src="{% static 'quiz/copy.js' %}" type="text/javascript"></script>
{% endblock content %}


Change this detail page. Make it look like the detail page on pinterest