<a href="{% url 'logout' %}">Logout</a>

<a href="{% url 'new-quiz' %}">Create Quiz</a>

{% for quiz in quizzes %}
<div>
    <div class='card'>
        <p>
            <div>{{quiz.title|capfirst}}</div>
            <div>created by {{quiz.user|capfirst}}</div>
            <div>{{quiz.description|truncatewords:10}}</div> 
            <div>It was created on {{quiz.date|date:"Y-M-d"}} {{quiz.date|time:"H:i"}}</div> 
            <div>
                {% if quiz.attempts < 2 %}
                    {{quiz.attempts}} attempt
                {% else %}
                    {{quiz.attempts}} attempts
                {% endif %}
            </div>
            <a href="{% url 'quiz-detail' quiz.id %}"> View Detail</a>
            <span>
            <a href="{% url 'take-quiz' quiz.id %}">Take Quiz</a>
            </span>
        </p>
    </div>
</div>
<br>
<br>
<br>
{% endfor %}