{% extends 'base.html' %}
{% load static %}


{% block css %} "{% static 'css/navbar.css' %}" {% endblock css %}


{% block content %}
<body>
    <header>
        <div class="top-navigation">
            <!-- <div class="active-link"></div> -->
            <a href="#" class="active link">Quiz</a>
            <a href="#" class="link">Diary</a>
            <a href="#" class="link">Task</a>
            <a href="#" class="link">Note</a>
            <a href="#" class="link">Shop</a>
        </div>
    </header>
    {% include 'search.html' %}

{% include 'quiz/quiz.html' %}



<div class="create-quiz">
    <a  class="link" href="{% url 'quiz:new-quiz' %}">plus</a>
</div>
{% endblock content %}

{% block js %} "{% static 'js/navbar.js' %}" {% endblock js %}


