

{% extends 'quiz/base.html' %}

{% load static %}
{% load social_share %}
{% block quizTitle %}
Old Town Road Correction
{% endblock quizTitle %}

{% block content %}

{% block quizCss %}
<link rel="stylesheet" href="{% static 'quiz/css/submitQuiz.css' %}">
{% endblock quizCss %}




{% include 'messages.html'%}

<div class="question-card-container">
    <div>
        <a href="{% url 'quiz:quizzes' %}">Go back home</a>

    </div>
    <div>
        <a href="{% url 'profile:profile' quiz.user.username %}">
            @{{quiz.user.username}}
        </a>
    </div>
    <div>
        You scored: {{user_score}} out of {{quiz.totalScore}}
        <br>
        Quiz's average score: {{quiz.average_score}}%

    </div>
</div>


<div class="question-card-container download-quiz">

        
        {% for question, answer in questionsList %}
        <div class="question-box">
        <ol>

            {% if question.form == 'fourChoicesQuestion' %}
        <li class="question">


            <div>
                    {{question.question_text}} <br>
                    <div class="points">
                        {% if question.points < 2 %}
                        {{question.points}} point
                    {% else %}
                        {{question.points}} points
                    {% endif %}
                    </div>
                    <ol style="list-style:upper-alpha;">
                        <li>
                            <div class="answer">
                                {{question.answer1}}
                            </div>
                        </li>
                       
                        <li>
                            <div class="answer">
                                {{question.answer2}}
            
                            </div>
                        </li>
                     
                        <li>
                            <div class="answer">
                                {{question.answer3}}
               
                            </div>
                        </li>
   
                        <li>
                            <div class="answer">
                                {{question.answer4}}
             
                            </div>
                        </li>
                        <div>
                            Your Answer:
                            {{answer}}
                        </div>
                       
                        
                        <div class="correct-answer">
                            Correct Answer:
                        {% if question.correct == 'answer1' %}
                            {{question.answer1}}
                        {% elif question.correct == 'answer2' %}
                            {{question.answer2}}
                        {% elif question.correct == 'answer3' %}
                            {{question.answer3}}
                        {% elif question.correct == 'answer4' %}
                            {{question.answer4}}
                        {% endif %}
                        </div>
                        
                        
                    </ol>
                    <div class="solution">
                        Solution: {{question.solution}}
                    </div>
               
            </div>
        </li>
            {% elif question.form == 'trueOrFalseQuestion' %}
            <li class="question">


                <div>
                        {{question.question_text}} <br>
                        <div class="points">
                            {% if question.points < 2 %}
                            {{question.points}} point
                        {% else %}
                            {{question.points}} points
                        {% endif %}
                        </div>
                        <ol style="list-style:upper-alpha;">
                            <li>
                                <div class="answer">
                                    {{question.answer1}}
                                </div>
                            </li>
                           
                            <li>
                                <div class="answer">
                                    {{question.answer2}}
                                    </div>
                            </li>
                            <div>
                                Your Answer:
                                {{answer}}
                            </div>
                           
                            <div class="correct-answer">
                                Correct Answer:
                                {% if question.correct == 'True' %}
                                    True
                                {% elif question.correct == 'False' %}
                                    False
                                {% endif %}
                            </div>
                         
                        
                        </ol>
                        <div class="solution">
                            Solution: {{question.solution}}
                        </div>
                   
                </div>
            </li>
            {% endif %}
        </div>

        {% endfor %}
    </ol>
</div>
<div class="question-card-container">
    <div class="linkBx">
        <div id="likes">
            <form action="{% url 'quiz:post-like' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="quiz_id" value="{{quiz.id}}">
                {% if not request.user in quiz.likes.all %}
                    <button type="submit">like</button>
                {% else %}
                    <button type="submit">unlike</button>
                {% endif %}
            </form>
        </div>
    </div>
    <div style="display:none; max-width: 500px;" class="result">
    
    </div>
    <div>
        <a href=""  class="a">Download the Image</a>
    </div>
<div>
    <a href="{% url 'quiz:quiz-pdf' quiz.id %}">
        Download the Pdf
    </a>
</div>

<div>
    <img src="{{postAd.picture.url}}">
</div>

<div>
    {{postAd.description}}
</div>

<div>
    <a href="{{postAd.link}}" target="_blank">Visit Site</a>
</div>


<div class="social-share">
    Refer To Earn More Coins (50 coins per click)
{% post_to_facebook  object_or_url 'Post to Facebook' %}
{% post_to_twitter "Take A Quiz: {{quiz.title}}" object_or_url "Post to Twitter" %}
{% post_to_linkedin  object_or_url "Post to" %}
{% send_email "ToTheX Quiz" "Take A Quiz: {{quiz.title}}" object_or_url "Share via email" %}
{% post_to_reddit "Take A Quiz: {{quiz.title}}" object_or_url %}
{% post_to_telegram "Take A Quiz: {{quiz.title}}" object_or_url %}
{% post_to_whatsapp object_or_url "Share via WhatsApp" %}
{% save_to_pinterest object_or_url %}
</div>

</div>

<script src="{% static 'question/html2canvas.js' %}"></script>

<script>

    let elm = document.querySelector('.download-quiz');
    elm.prepend("");
    html2canvas(elm).then(function(canvas){
        document.querySelector('.result').append(canvas);
        let cvs = document.querySelector('canvas');
        let a = document.querySelector('.a');
        a.href = cvs.toDataURL();
        a.download = 'tothex-{{quiz.quiz.title}}.png'
    })




</script>
{% endblock content %}