{% include 'messages.html'%}
<div class="question-card-container">
    <a href="{% url 'profile:profile' quiz.user.username %}">
        {{quiz.user.username}}
    </a>
    <p>
        You scored: {{user_score}} out of {{quiz.totalScore}}
    </p>

</div>
<a href="{% url 'quiz:quizzes' %}">Go back home</a>


<div class="question-card-container">

        
        {% for question, answer in questionsList %}
        <div class="question-box">
        <ol>

            {% if question.form == 'fourChoicesQuestion' %}
        <li class="question">


            <div>
                    {{question.question_text}}
                    <p>
                        {% if question.points < 2 %}
                            {{question.points}} point
                        {% else %}
                            {{question.points}} points
                        {% endif %}
                    </p>
                    <ol style="list-style:upper-alpha;">
                        <li>
                            <div class="answer">
                                {{question.answer1}}
                            </div>
                        </li>
                       
                        <li>
                            <div class="answer">
                                {{question.answer2}}
            
                                </div>
                        </li>
                     
                        <li>
                            <div class="answer">
                                {{question.answer3}}
               
                                   </div>
                        </li>
   
                        <li>
                            <div class="answer">
                                {{question.answer4}}
             
                                 </div>
                        </li>
                        <div>
                            Your Answer:
                            {{answer}}
                        </div>
                       
                        
                        <div class="correct-answer">
                            Correct Answer:
                            {% if question.correct == 'answer1' %}
                            {{question.answer1}}
                        {% elif question.correct == 'answer2' %}
                            {{question.answer2}}
                        {% elif question.correct == 'answer3' %}
                            {{question.answer3}}
                        {% elif question.correct == 'answer4' %}
                            {{question.answer4}}
                        {% endif %}
                        </div>
                        
                        <div class="solution">
                            Solution: {{question.solution}}
                            </div>
                    </ol>
                  
               
            </div>
        </li>
            {% elif question.form == 'trueOrFalseQuestion' %}
            <li class="question">


                <div>
                        {{question.question_text}}
                        <p>
                            {% if question.points < 2 %}
                                {{question.points}} point
                            {% else %}
                                {{question.points}} points
                            {% endif %}
                        </p>
                        <ol style="list-style:upper-alpha;">
                            <li>
                                <div class="answer">
                                    {{question.answer1}}
                                </div>
                            </li>
                           
                            <li>
                                <div class="answer">
                                    {{question.answer2}}
                                    </div>
                            </li>
                            <div>
                                Your Answer:
                                {{answer}}
                            </div>
                           
                            <div class="correct-answer">
                                Correct Answer:
                                {% if question.correct == 'True' %}
                                    True
                                {% elif question.correct == 'False' %}
                                    False
                                {% endif %}
                            </div>
                         
                        <div class="solution">
                        Solution: {{question.solution}}
                        </div>
                        </ol>
                      
                   
                </div>
            </li>
            {% endif %}
        </div>

        {% endfor %}
    </ol>
</div>


<a href="{% url 'quiz:quiz-pdf' quiz.id %}">
    Download the Pdf
</a>



<div>
    <img src="{{postAd.picture.url}}">
</div>

<div>
    {{postAd.description}}
</div>

<div>
    <a href="{{postAd.link}}" target="_blank">Visit Site</a>
</div>
