{% extends 'quiz/base.html' %}
{% load static %}
{% block title %}
    Take Quiz
{% endblock title %}
{% block content %}
<div class="question-card-container">

    <form action="{% url 'quiz:submit-quiz' quiz.id %}" method="post">
        {% csrf_token %}
        <ol>
        {% for question in quiz.questions.all %}
        <div class="question-box">
        <li class="question">
            <div>
                <p>
                    {{question.question_text}}
                </p>
                    <input type="hidden" name="question" value="{{question.id}}">
            </div>
        </li>
            {% for answer in question.answers.all %}
                <div>
                    <input type="checkbox" name="answer" value="{{answer.id}}">
                    <span>{{answer.answer_text}}</span>
                </div>     
            {% endfor %}
        </div>

        {% endfor %}
    </ol>
        <input type="submit" value="Submit">
    </form>
</div>

{% endblock content %}
