{% extends 'quiz/base.html' %}
{% load static %}
{% load social_share %}
{% block title %}

{% endblock title %}

{% block content %}
<link rel="stylesheet" href="{% static 'core/css/profile.css' %}">
{% include 'messages.html' %}
<div class="menu-icon">
    <span>ready</span>
    <i> menu</i>
</div>
{% post_to_facebook object_or_url "<p style='color: green;'>facebook</p>" %}

{% post_to_facebook 'Profile: {{profile.user.username}}, Check my profile to see the cool stuffs I have been up to.' object_or_url 'Post to Facebook' %}

{% post_to_twitter 'Profile: {{profile.user.username}}, Check my profile to see the cool stuffs I have been up to.' object_or_url 'Post to Twitter' %}
<div class="profile-box">
    <div class="imgBx">
        {% if profile.picture %}
        <img src="{{profile.picture.url}}" alt="profile picture for {{profile.user.username}}">
        {% else %}
        <img src="{% static 'quiz/quiz.jpg' %}" alt="default profile picture for {{profile.user.username}}">
        {% endif %}
    </div>

<div class="name">
    <div class="userBx">
        {{profile.first_name}}
    </div>
    <div class="userBx">
        {{profile.last_name}}
    </div>

</div>
    

    <div class="username">
       @{{profile.user.username}}
    </div>
    <div class="following">
        {{follower.following.all.count}} followings
     </div>
    <div class="followers">
        {{follower.followers.all.count}} followers
     </div>
     {% if request.user != profile.user %}
        {% if request.user in follower.followers.all %}
        <form action="{% url 'unfollow' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="following" value="{{follower.user.id}}" readonly>
            <input type="hidden" name="following_user" value="{{profile.user}}" readonly>
            <input type="hidden" name="following_username" value="{{profile.user.username}}" readonly>

            <button type='submit' class="btn profile-edit-btn">
                UnFollow
            </button>
        </form>
        {% else %}
        <form action="{% url 'follower' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="following" value="{{follower.user.id}}" readonly>
            <input type="hidden" name="following_user" value="{{profile.user}}" readonly>
            <input type="hidden" name="following_username" value="{{profile.user.username}}" readonly>

            <button type='submit' class="btn profile-edit-btn">
                Follow
            </button>
        </form>
        {% endif %}
     {% endif %}
<div class="otherInfo">
    <div class="userInfo">
        <div class="heading">Bio</div>
        <div class="content"> {{profile.bio|truncatechars:200}}</div>

    </div>

    <div class="userInfo">
        <div class="heading">State Of Residence</div>
        <div class="content"> {{profile.state_of_residence}} </div>

    </div>

    <div class="userInfo">
        <div class="heading">State Of Origin</div>
        <div class="content"> {{profile.state_of_origin}} </div>


    </div>

    <div class="userInfo">
        <div class="heading">Nationality</div>
        <div class="content"> {{profile.nationality}} </div>
    </div>
    
    <div class="userInfo">
        <div class="heading">Streak</div>
        <div class="content"> {{profile.streak.length}} days </div> 
    </div>
</div>
    
    <div class="edit link">
        <a href="{% url 'edit_profile' %}">Edit</a>
    </div>
</div>

add the delete and the update button

<div class="quizzes">
    {% for quiz in quizzes %}
        <div class="quizItem">
            {{quiz.title|truncatechars:20}}
        </div>
     {% if request.user == profile.user %}

        <div class="private-links">
            <a href="{% url 'quiz:delete-quiz' quiz.id %}">Delete</a>
            <a href="{% url 'quiz:quiz-update' quiz.id %}">Update</a>
        </div>
        {% endif %}
        <div class="public-links">
            <a href="{% url 'quiz:quiz-detail' quiz.id None %}">Detail</a>
            <a href="{% url 'quiz:take-quiz' quiz.id %}">Take</a>
        </div>
    {% endfor %}
</div>


<div class="questions">
    {% for question in trueOrFalseQuestions %}
        <div class="quizItem">
            {{question.question_text|truncatechars:20}}
        </div>
     {% if request.user == profile.user %}

        <div class="private-links">
            <a href="{% url 'question:edit-trueOrFalseQuestion' question.id %}">Update</a>
        </div>
        {% endif %}
    {% endfor %}
</div>

<div class="questions">
    {% for question in fourChoicesQuestions %}
        <div class="quizItem">
            {{question.question_text|truncatechars:20}}
        </div>
     {% if request.user == profile.user %}

        <div class="private-links">
            <a href="{% url 'question:edit-fourChoicesQuestion' question.id %}">Update</a>
        </div>
        {% endif %}
    {% endfor %}
</div>


{% endblock content %}