{% extends 'quiz/base.html' %}
{% load static %}
{% load social_share %}
{% block quizTitle %}
Profile
{% endblock quizTitle %}

{% block content %}


{% block quizCss %}
<link rel="stylesheet" href="{% static 'core/css/profile.css' %}">
{% endblock quizCss %}
{% include 'navbar.html' %}
<input type="hidden" id="navActive" value="{{nav}}" name="nav">
{% include 'messages.html' %}
<div style="display:none;">
    <div class="menu-icon">

        <span>ready</span>
        <a href="{% url 'menu' %}">
            <div ><i class="fa fa-bars" aria-hidden="true">menu</i></div>
        </a>
    </div>
    {% post_to_facebook object_or_url "<p style='color: green;'>facebook</p>" %}
    
    {% post_to_facebook 'Profile: {{profile.user.username}}, Check my profile to see the cool stuffs I have been up to.' object_or_url 'Post to Facebook' %}
    
    {% post_to_twitter 'Profile: {{profile.user.username}}, Check my profile to see the cool stuffs I have been up to.' object_or_url 'Post to Twitter' %}
    
</div>
<div class="profile-box">
    <div class="imgBx">
        <img src="/static/images/tothex_500.png">
    </div>

<div class="name">
    <div class="userBx">
        {{profile.first_name}}
    </div>
    <div class="userBx">
        {{profile.last_name}}
    </div>

</div>
    

    <div class="username">
       @{{profile.user.username}}
    </div>
    <div class="obvious">
        <div class="following childBx">
            <div class="heading">Followings</div>
            <div>
                {{follower.following.all.count}}
            </div>
         </div>
        <div class="followers childBx">
            <div class="heading">Followers</div>
            <div>
                    {{follower.followers.all.count}}
            </div>
         </div>
         <div class="likes childBx">
            <div class="heading">Likes</div>
            <div class="content">{{profile.likes}}</div> 
        </div>
    </div>
    
     {% if request.user != profile.user %}
        {% if request.user in follower.followers.all %}
        <form action="{% url 'unfollow' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="following" value="{{follower.user.id}}" readonly>
            <input type="hidden" name="following_user" value="{{profile.user}}" readonly>
            <input type="hidden" name="following_username" value="{{profile.user.username}}" readonly>

            <button type='submit' class="btn profile-edit-btn">
                UnFollow
            </button>
        </form>
        {% else %}
        <form action="{% url 'follower' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="following" value="{{follower.user.id}}" readonly>
            <input type="hidden" name="following_user" value="{{profile.user}}" readonly>
            <input type="hidden" name="following_username" value="{{profile.user.username}}" readonly>

            <button type='submit' class="btn profile-edit-btn">
                Follow
            </button>
        </form>
        {% endif %}
     {% endif %}
    <div class="urlLink">
        <span>Link: </span>
        <a class="profile-link" href="{{link.url}}" target="_blank" rel="noopener noreferrer">{{link.name}}</a>
        {% if request.user == profile.user %}
        <div>
            <a class="profile change"  href="{% url 'edit-link' %}">Change Link</a>
        </div>
        {% endif %}
    </div>
<div class="otherInfo">
    <div class="userInfo">
        <div class="heading">Bio</div>
        <div class="content"> {{profile.bio|truncatechars:200}}</div>

    </div>
    <div class="userInfo">
        <div class="heading">Gender</div>
        <div class="content"> {{profile.gender}} </div>

    </div>

    <div class="userInfo">
        <div class="heading">State Of Residence</div>
        <div class="content"> {{profile.state_of_residence}} </div>

    </div>

    <div class="userInfo">
        <div class="heading">State Of Origin</div>
        <div class="content"> {{profile.state_of_origin}} </div>


    </div>

    <div class="userInfo">
        <div class="heading">Nationality</div>
        <div class="content"> {{profile.nationality}} </div>
    </div>
    
    <div class="userInfo">
        <div class="heading">Streak</div>
        <div class="content"> {{profile.streak.length}}</div> 
    </div>
    <div class="userInfo">
        <div class="heading">Refers</div>
        <div class="content"> {{profile.refercount}}</div> 
    </div>
    <div class="userInfo">
        <div class="heading">Views</div>
        <div class="content"> {{profile.views}}</div> 
    </div>
    <div class="userInfo">
        <div class="heading">Coins</div>
        <div class="content"> {{profile.coins}}</div> 
    </div>
    <div class="userInfo">
        <div class="heading">Quiz Average Score</div>
        <div class="content"> {{profile.quizAvgScore}}%</div> 
    </div>
    <div class="userInfo">
        <div class="heading">Question Average Score</div>
        <div class="content">{{profile.questionAvgScore}}%</div> 
    </div>
    <div class="userInfo">
        <div class="heading">Quiz Attempts</div>
        <div class="content">{{profile.quizAttempts}}</div> 
    </div>
    <div class="userInfo">
        <div class="heading">Question Attempts</div>
        <div class="content">{{profile.questionAttempts}}</div> 
    </div>
    <div class="userInfo">
        <div class="heading">Quizzes Created</div>
        <div class="content">{{profile.quizzes}}</div> 
    </div>
    {% if profile.user == request.user %}
    <div class="edit link userInfo">
        <a class="profile"  href="{% url 'edit_profile' %}">Edit</a>
    </div>
    {% endif %}
</div>
</div>
<script src="{% static 'core/js/profile.js' %}">
</script>
{% endblock content %}