{% include 'messages.html' %}

<h1>My Todo List</h1>
<a href=" {% url 'todo:task-create' %} ">Add Task</a>

<form action="" method="get">
    <input type="text" name='search-area' value='{{search_input}}'>
    <input type="submit" value="search">
</form>

<table>
    <tr>
        <th>
            Items
        </th></th>
    </th></th>
</th></th>

    </tr>
    {% for task in tasks %}
    <tr>
        <td>{{ task.title }}</td>
        <td><a href="{% url 'todo:task' task.id %}">View</a></td>
        <td><a href="{% url 'todo:task-update' task.id %}">Edit</a></td>
        <td><a href="{% url 'todo:task-delete' task.id %}">Delete</a></td>

    </tr>
    {% empty %}
        <h3>No items in list</h3>
    {% endfor %}
</table>