{% extends 'quiz/base.html' %}
{% load static %}
{% block quizTitle %}
Ads
{% endblock quizTitle %}

{% block content %}

{% block quizCss %}
<link rel="stylesheet" href="{% static 'ads/css/postAd.css' %}">
{% endblock quizCss %}
<div class="container">

    <div id="countdownbox"></div>

    <div>
        <img src="{{postAd.picture.url}}">
    </div>

    <div>
        {{postAd.description}}
    </div>

    <div>
        <a class="postAd" onclick="clickFunction()" data-url="{% url 'ads:post-click' postAd.id %}" href="{{postAd.link}}" target="_blank">Visit Site</a>
    </div>


<a id="nextButton" href="{% url 'question:answer-question' %}">Next</a>

</div>
<script src="{% static 'js/jquery.js' %}"></script>
<script>
    let seconds = 10;
    const next = document.getElementById('nextButton');
    console.log(next)
    next.style.display = 'none'
const countdownbox = document.getElementById('countdownbox');

setInterval(()=>{
    seconds -= 1;

    if (seconds <= 0){
        // console.log(seconds)
        // next.style.display = 'block'
        next.click();

    }
    countdownbox.innerHTML = `<b>${seconds}sec left</b>`;
}, 1000)




function clickFunction(){
        
        $.ajax({
            // change this to post
            type: 'GET', 
            url : $('a.postAd').data('url'),
            data : {
            },
            success : function(response){
                alert('link clicked!')
                

            },
            error : function(){
                alert('It falis silently!')
            }

        });

    }


</script>
{% endblock content %}