{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
{% endblock css %}

{% block content %}
    <header>
        
        <div class="name">
        <h3>ToTheX</h3>
        </div>
        <div class="top-navigation">
            <a href="#" class="active"><i class="fa fa-home" aria-hidden="true"></i><div>Quiz</div></a>
            <a href="#"><i class="fa fa-address-book" aria-hidden="true"></i><div>Diary</div></a>
            <a href="#"><i class="fa fa-thumb-tack" aria-hidden="true"></i><div>Task</div></a>
            <a href="#"><i class="fa fa-sticky-note" aria-hidden="true"></i><div>Note</div></a>
            <a href="#"><i class="fa fa-shopping-basket" aria-hidden="true"></i><div>Shop</div></a>
        </div>
    </header>
    <script src="{% static 'js/navbar.js' %}" type="text/javascript"></script>
{% endblock content %}





