{% extends 'quiz/base.html' %}

{% load static %}

{% block quizTitle %}
Wealth
{% endblock quizTitle %}

{% block content %}

{% block quizCss %}
<link rel="stylesheet" href="{% static 'leaderboard/css/wealth.css' %}">
{% endblock quizCss %}
<div style="text-align:left;" class="top-link">
    <a style="text-align:left;" href="{% url 'leaderboard:leaderboard' %}">Go back</a>
</div>
<div class="container">
    {% include 'messages.html' %}


    <a href="{% url 'leaderboard:leaderboard' %}">Go Back</a>
    {% for leader in leaders %}
        <div class="line">
            <div class="name">@{{leader.user.username}}</div>
            <div class="length">{{leader.coins}}</div>
        </div>
        <a href="{% url 'profile:profile' leader.user.username  %}">See Profile</a>

        <br>
        <br>
    {% endfor %}


{% endblock content %}